# Placehplder for copyright

# Top-level config
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown
[*.md]
trim_trailing_whitespace = false

# Makefiles
[*.py]
indent_size = 4

# Makefiles
[Makefile]
indent_style = tab
indent_size = 8
