<!--Placeholder for Copyright -->

<!--
  A collection of functions used from within some partials to allow the usage
  of state saved in local or session storage, e.g. to model preferences.
-->
<script>

  /* Prepend the base path to the given key to ensure uniqueness */
  function __prefix(key) {
    var prefix = new URL("{{ base_url }}", location)
    return prefix.pathname + "." + key
  }

  /* Fetch the given key from the given storage */
  function __get(key, storage = localStorage) {
    return JSON.parse(storage.getItem(__prefix(key)))
  }
</script>
