////
///Placeholder for Copyright ///
////

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Back-to-top button
.md-top {
  position: fixed;
  top: px2rem(48px + 16px);
  z-index: 2;
  margin-left: 50%;
  padding: px2rem(8px) px2rem(16px);
  color: var(--md-default-fg-color--light);
  font-size: px2rem(14px);
  background-color: var(--md-default-bg-color);
  border-radius: px2rem(32px);
  outline: none;
  box-shadow:
    0 px2rem(4px) px2rem(10px) hsla(0, 0%, 0%, 0.1),
    0 0           px2rem(1px)  hsla(0, 0%, 0%, 0.25);
  transform: translate(-50%, 0);
  transition:
    color            125ms,
    background-color 125ms,
    transform        125ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity          125ms;

  // [print]: Hide back-to-top button
  @media print {
    display: none;
  }

  // Adjust for right-to-left languages
  [dir="rtl"] & {
    float: left;
  }

  // Back-to-top button in hidden state
  &[data-md-state="hidden"] {
    transform: translate(-50%, px2rem(4px));
    opacity: 0;
    transition-duration: 0ms;
    pointer-events: none;
  }

  // Back-to-top button on focus/hover
  &:focus,
  &:hover {
    color: var(--md-accent-bg-color);
    background-color: var(--md-accent-fg-color);
  }

  // Inline icon
  svg {
    display: inline-block;
    vertical-align: -0.5em;
  }
}
