////
///Placeholder for Copyright ///
////

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Emoji and icon container
  .emojione,
  .twemoji,
  .gemoji {
    display: inline-flex;
    height: px2em(18px);
    vertical-align: text-top;

    // Icon - inlined via Be-Secure-extensions
    svg {
      width: px2em(18px);
      max-height: 100%;
      fill: currentColor;
    }
  }
}
